.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.wrapper button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  background-color: #614101;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.wrapper button:hover {
  background-color: #4d3400;
}

.acccordian {
  width: 500px;
}

.item {
  background-color: #614101;
  width: 500px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  color: white;
  height: auto;
}
